{% extends "_layout.html" %}
    
    {% block style %}
        <style>
            .col-centered {
                float: none;
                margin: 0 auto;
                margin-top: 0px;
            }
        </style>

    {% endblock %}

    {% block content %}

        <div class="row">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p><i class="fa fa-warning"></i> Error 500.  Internal Server Error.  Admin notification sent.</p>
            </div>
        </div>

    {% endblock %}