{% extends "_layout.html" %}
{% block title %}CircuitNimble | Python Socket Server | demo.owlsite.net:7182 {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="30">
<style>
    .tablesorter tbody tr:first-child td {
        background-color: #FFFF66;
    }
</style>
{% endblock %}
{% block content %}

    <!-- show countdown time for auto-refresh -->
    <div class="well well-sm">
         <span class="label label-danger"><i class="fa fa-spinner fa-pulse fa-fw margin-bottom"></i> AUTO REFRESH ENABLED</span>
         <span class="pull-right"><div id="timer"></div></span>
    </div>

    {% if radiodata %}    
    <table class="table table-striped tablesorter" name="radiodata">
        <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>IMEI</th>
                <th>Voltage</th>
                <th>RSSI</th>
                <th>Sensor 1</th>
                <th>Sensor 2</th>
                <th>Sensor 3</th>
                <th>Sensor 4</th>
            </tr>
        </thead>
        <tbody>
            {% for radio in radiodata %}
            <tr>
                <td>{{ radio.id }}</td>
                <td>{{ radio.created_on }}</td>
                <td>{{ radio.imei }}</td>
                <td>{{ radio.voltage }}</td>
                <td>{{ radio.rssi }}</td>
                <td>{{ radio.sensorval_1 }}</td>
                <td>{{ radio.sensorval_2 }}</td>
                <td>{{ radio.sensorval_3 }}</td>
                <td>{{ radio.sensorval_4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"><small> Found {{ totals }} Total Radio Records  </small></td>
            </tr>
        </tfoot>
    </table>
    
    {% else %}

        <div class="alert alert-warning alert-dismissible" style="margin-top:10px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p><i class="fa fa-info-circle"></i> No Radio Data to Display.</p>
        </div>

    {% endif %}
{% endblock %}
{% block js %}
<script>
    var timeLeft = 30;
    var elem = document.getElementById('timer');
    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == -1) {
            clearTimeout(timerId);
        } else {
            elem.innerHTML = timeLeft + ' seconds remaining...';
            timeLeft--;
        }
    }
</script>
{% endblock %}
